*{
    box-sizing: border-box;
}

body{
    background-image: url("kepek/hatterkep4.jpg");
}
form{
    background-color: #B6C4B6;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
    background-color: #EEF0E5;
}

article{
    flex: 0 0 90%;
}

h1{
    text-align: center;
}

header{
    flex: 0 0 100%;
}

footer{
    text-align: center;
}

nav{
    flex: 0 0 20%;
}

footer{
    flex: 0 0 100%;
}
nav li{
    color: #304D30;
    margin-left: 10px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    background-color: #304D30;
    color: #EEF0E5;
    padding: 10px;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px;
}

input{
    margin: 5px;
}

textarea{
    resize: none;
}

@media screen and (max-width: 600px) {
    nav ul{
        flex: column;
    }
    article{
        flex: column;
        width: 100%;
    }
}